<!DOCTYPE html>
<html>
<head>
  <title>WhatMunch App</title>
  <style type="text/css">@import url('stylesheets/main.css')</style>
</head>

<body>
  <header class="container">
    <h1 class='title m--1 m-s--0'>WhatMunch</h1>
  </header>
  <div class='main-container container container--wrap--t g--10 m--1'>


  <section id="form-group" class="tile">
     <form action='/' method='post'>
      <fieldset id="data-entry">
        <input name='thismunch[what]' type="text"  placeholder="Food item" id
        ="item-input" required>

        <input name='thismunch[cost]'  type='number' id="out-of-range-input" step=0.01 min=0 max=<%= $budget %> required placeholder="£">
        <span class="help-text"></span>
      </fieldset>
      <button class="btn-raised btn--green">Add Munch</button>
    </form>
        <h5>Running Total is: £<%= $running_total %></h5>

  </section>

  

  <section id="results-table" class=" m--0">
<!--     <h4>Budget is: £ <input type="number" name="budget" value="<%= $budget %>" disabled></h4>
 -->
    <table class="tile">
      <tr class="table-header">
        <td>Item</td>
        <td>Cost</td>
      </tr>
      <tr>
        <%= $munch.join('') %>
    </table>

  </section>
<!-- 
<section class="card">
    <h5>Running Total is: £<%= $running_total %></h5>
</section>
   -->
  </div>
  <footer>
    <div class="right">
     <input type="checkbox" id="modal-1">
     <label class="modal-trigger" for="modal-1">About</label>
      <div class="modal-content">
      <p><a href="https://github.com/Dafin/WhatMunch"><img src="./img/gh.png" alt="Gihub Logo"></a></p>
      </div>
    </div>
</footer>
</body>
</html>